<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Style Name</key>
		<string>Title1</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Title2</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Title3</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>10</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Headline</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>21</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>22</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>23</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>23</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>24</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>24</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>25</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Traits</key>
				<string>Bold</string>
				<key>Size</key>
				<integer>26</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Subheadline</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>21</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>21</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>22</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>22</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>23</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>24</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Callout</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>9</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>9</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>10</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>10</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Body</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>21</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Footnote</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>11</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>12</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Caption1</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>21</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>21</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>22</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>23</integer>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>Style Name</key>
		<string>Caption2</string>
		<key>Size Categories</key>
		<dict>
			<key>ExtraSmall</key>
			<dict>
				<key>Size</key>
				<integer>13</integer>
			</dict>
			<key>Small</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>Medium</key>
			<dict>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>Large</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
			</dict>
			<key>ExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>17</integer>
			</dict>
			<key>ExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>18</integer>
			</dict>
			<key>ExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>AccessibilityMedium</key>
			<dict>
				<key>Size</key>
				<integer>19</integer>
			</dict>
			<key>AccessibilityLarge</key>
			<dict>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>AccessibilityExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>20</integer>
			</dict>
			<key>AccessibilityExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>21</integer>
			</dict>
			<key>AccessibilityExtraExtraExtraLarge</key>
			<dict>
				<key>Size</key>
				<integer>22</integer>
			</dict>
		</dict>
	</dict>
</array>
</plist>
